.btn 
  border: none
  margin: 25px auto
  position: relative
  font-size: 14px
  color: #fff
  padding: $btn-padding
  max-width: $btn-max-width
  min-width: $btn-min-width
  overflow: hidden
  text-align: center
  cursor: pointer
  text-transform: uppercase
  background-color: $light-blue

  &.bubble:after 
    content: ""
    background: #fff
    position: absolute
    width: $btn-max-width
    height: $btn-max-width
    left: 0
    right: 0
    top: 0
    bottom: 0
    opacity: 0
    margin: auto
    border-radius: 50%
    transform: scale(1)
    transition: all $duration $transition-style
  

  &.bubble:active:after 
    transform: scale(0)
    opacity: 1
    transition: 0s