/* transition conf */
/* colors */
/* btn conf */
/* basic stylings ------------------------------------------ */
.container {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  font-family: 'roboto', sans-serif;
  width: 400px;
  margin: 0 auto;
  display: block;
  background: #FFF; }

h2 {
  padding: 20px;
  margin-bottom: 30px;
  line-height: 35px;
  text-transform: uppercase;
  background: #3498db;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  color: white; }
  h2 small {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #b6daf2;
    display: block; }

/* form starting stylings ------------------------------- */
form {
  padding: 0 35px; }

.group {
  position: relative;
  margin-bottom: 30px; }

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc; }
  input:focus {
    outline: none; }

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264AE; }

input.result ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264AE; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 320px; }
  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%; }

/* Hello! */
.btn {
  border: none;
  margin: 25px auto;
  position: relative;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  max-width: 200px;
  min-width: 128px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #3498db; }
  .btn.bubble:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out; }
  .btn.bubble:active:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }
